.wrap-emotional-point{
  column-gap: 2rem;
  opacity: 0;
  display: none;

  &:not(.hide) {
    transition: opacity 0.5s;
    opacity: 1;
    display: flex;
  }
}
@media screen and (max-width: 768px) {
  .wrap-emotional-point{
    &:not(.hide) {
        flex-direction: column-reverse;
    }
  }
}
