  .column{
    display: inline-flex;
    width: 50%;
    align-items: flex-start;
    flex-direction: column;
    &.image{
    flex-shrink: 1;
    position: relative;
    }
    .imageWrapper{
      display: flex;
        position: relative;
        //height: 100%;
      img{
        object-fit: contain;
        object-position: top left;
        height: 100%;
        width: 100%;
      }
      .marker{
        position: absolute;
        z-index: 1;
        background-image: url("@/assets/icons/pin.svg");
        background-position: center;
        background-size: cover;
      }
    }
}
