.draggable-image{
  position:relative;
  width: 100%;
  flex-shrink: 1;
  .portrait{
    height: 100%;
    width: auto;
  }
  .landscape{
      height: auto;
      width: 100%;
  }
    .draggable-marker{
      position: absolute;
      cursor: move;
      left: 100%;
      top: 0;
    }
}
