
.strength{
  border: 1px solid var(--color-white);
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  input[type="range" i]{
    margin: 0;
  }
  input[type=range] {
    //appearance: ;

    //writing-mode: ;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    flex-grow: 1;
    margin: 10px 0;
    -webkit-appearance: none;
    width: 10px;
    background-color: transparent;
  }

  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    //animate: 0.2s;
    box-shadow: none;
    background: #707070;
    border-radius: 6px;
    border: none;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000;
    border: 1px solid #FFFFFF;
    height: 15px;
    width: 15px;
    border-radius: 15px;
    background: #FFFFFF;
    cursor: pointer;
    -webkit-appearance: none;
    margin-left: -2px;
    //margin-top: -3px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #707070;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #000000;
    border-radius: 6px;
    border: 0px solid #000000;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000;
    border: 1px solid #FFFFFF;
    height: 15px;
    width: 15px;
    border-radius: 15px;
    background: #FFFFFF;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: black;
    border: none;
    border-radius: 12px;
    box-shadow: none;
  }
  input[type=range]::-ms-fill-upper {
    background: #000000;
    border: none;
    border-radius: 12px;
    box-shadow: none;
  }
  input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 1px 1px 1px #000000;
    border: 1px solid #FFFFFF;
    height: 15px;
    width: 15px;
    border-radius: 15px;
    background: #FFFFFF;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #707070;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #707070;
  }


}
@media screen and (max-width: 768px) {

  .strength {
    flex-direction: row-reverse;

    input[type=range] {
      writing-mode: horizontal-tb;
      transform: rotate(0);

    }
  }
}
