.main{
  display: flex;
  //4rem = padding header
  //1px = border header
  height: calc(100vh - var(--header-height) - 4rem - 1px);
  gap: 3rem;
  justify-content: space-between;
  position: relative;
  padding: 2rem;
  & > div{
    display: flex;
    column-gap: 1rem;
  }
  &.intro, &.root{
    flex-direction: column;
    gap: 0;
    //padding: 0;
    //height: 100%;
  }
  &.root{
    justify-content: space-between;
  }
  &.intro{
    max-width: 75%;
    justify-content: flex-end;
    line-height: 1.5;
    p{
        font-size: 1.25rem;
        margin-top: 1.25rem;
    }
  }
}
