.button{
  padding: 0;
  border: 1px solid white;
  color: var(--color-black);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  background-color: white;
  font-size: 1.2rem;
  &[disabled]{
    cursor: not-allowed;
    background-color: #f1f1f1;
    color: #bcbcbc;
  }
  svg{
    width: 1.75rem;
    height: 1.75rem;
  }
  &.finish{
    background-color: #66bb6a;
    border-color: #66bb6a;
    margin-left: .5rem;
  }
}
